<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<virtualType name="Experius\MissingTranslations\Model\ResourceModel\Translation\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">translation</argument>
			<argument name="resourceModel" xsi:type="string">Magento\Translation\Model\ResourceModel\Translate</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="experius_translation_grid_data_source" xsi:type="string">Experius\MissingTranslations\Model\ResourceModel\Translation\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	<type name="Magento\Framework\Console\CommandList">
		<arguments>
			<argument name="commands" xsi:type="array">
				<item name="CollectMissingTranslationsCommand" xsi:type="object">Experius\MissingTranslations\Console\Command\CollectMissingTranslationsCommand</item>
			</argument>
		</arguments>
	</type>
	<type name="Magento\Framework\Console\CommandList">
		<arguments>
			<argument name="commands" xsi:type="array">
				<item name="AddTranslationsToDatabaseCommand" xsi:type="object">Experius\MissingTranslations\Console\Command\AddTranslationsToDatabaseCommand</item>
			</argument>
		</arguments>
	</type>
</config>
